{{#with (route-task "taskOnApplicationRoute" "Freddie") as |task|}}
  {{#if task.isIdle}}
    <button onclick={{perform task "Morecurry"}}>
      Perform taskOnApplicationRoute
    </button>
  {{else}}
    <button onclick={{cancel-all task}}>
      Cancel taskOnApplicationRoute
    </button>

      Running taskOnApplicationRoute
  {{/if}}

  <br>
  task.last.value: {{task.last.value}}<br>
  task.last.error: {{task.last.error}}<br>
{{/with}}
